@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
    --yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
    --orange: #fca61f;
    --black: #242d49;
    --gray: #788097;
    --purple: linear-gradient(180deg, #BB67FF 0%, #C484F3 100%);
    --pink: #FF919D;
    --glass: rgba(255, 255, 255, 0.54);
    --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
    --activeItem: #f799a354;
    --fontFamily: 'Inter', sans-serif;
  }

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

a:hover{
    color: var(--black) !important;
}

.App {
    display: grid;
    min-height: 100vh;
    /* width: 100%; */
    padding: 2rem 0;
    font-family: var(--fontFamily);
    background-color: var(--yellow);
    grid-template-columns: 11rem auto 20rem ;
} 

.apexcharts-toolbar,.apexcharts-toolbar>div {
    overflow: hidden;
}

/* Media Query */
@media screen and (max-width : 1200px) {
    .App {
        grid-template-columns: 7% 70% auto;
    }
}

/* For Landscape Tablet */
@media screen and (max-width : 992px) {
    .App {
        grid-template-columns: 7% 60% auto;
    }
}

/* For  Tablet */
@media screen and (max-width : 786px) {
    .App {
        grid-template-columns: 1fr;
        padding: 0 0 2rem 0;
    }
}